@import '../../style//app.scss';
.address {
  &__wrapper {
    position: relative;
    display: flex;
    flex-direction: column;
    width: 100%;
    font-weight: 300;
    font-size: 14px;
    line-height: 16px;
    color: $dark100;
    @media (min-width: 768px) {
      width: auto;
    }
  }
  &__inner,
  &__inner_city {
    display: flex;
    flex-direction: column;
    position: relative;
    display: flex;
    gap: 15px;
    @media (min-width: 400px) {
      align-items: flex-end;
      flex-direction: row;
      justify-content: space-between;
      gap: 5px;
    }
  }
  &__inner_city {
    @media (min-width: 400px) {
      gap: 9px;
    }
  }
  &__input {
    position: relative;
    font-family: 'Roboto';
    font-weight: 300;
    font-size: 18px;
    line-height: 16px;
    border: none;
    padding: 0 0 0px 8px;
    border-bottom: 1px solid $gray100;
    @media (min-width: 768px) {
      width: 224px;
      font-size: 14px;
      line-height: 16px;
    }
  }
  &__list {
    display: none;
    position: absolute;
    gap: 8px;
    width: 100%;
    max-height: 120px;
    top: 24px;
    right: 0;
    padding: 0;
    margin-top: 32px;
    background: $white;
    border: 1px solid $gray50;
    border-top: none;
    overflow: auto;
    z-index: 5;
    cursor: pointer;
    @media (min-width: 400px) {
      width: 231px;
      top: 0px;
    }
    @media (min-width: 768px) {
      width: 224px;
      top: -15px;
    }
  }
  &__list:hover,
  &__list_open {
    display: flex;
    flex-direction: column;
    padding: 9px 8px 0;
  }
  &__item {
    font-weight: 300;
    font-size: 16px;
    line-height: 20px;
    color: $gray100;
    @media (min-width: 768px) {
      font-size: 14px;
      line-height: 16px;
    }
    &:hover,
    &:focus {
      color: $green;
    }
  }
}
::-webkit-scrollbar {
  width: 6px;
  height: 100%;
  border: 1px solid $gray50;
}

::-webkit-scrollbar-thumb {
  height: 20px;
  border: 2px solid $gray50;
  background-clip: padding-box;
  border-radius: 9999px;
  background-color: $gray100;
}
::-webkit-scrollbar-track {
  margin: 0 30px;
}
