@import '../../style/app.scss';
.start--screen {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 100vh;
  width: 100%;
  &__content {
    padding: 0 32px;
  }
  &__title {
    font-weight: 700;
    font-size: 4.35rem;
    line-height: 1.2;
    margin-bottom: 0.48rem;
  }
  &__mark {
    background: transparent;
    color: $green;
  }
  &__subtitle {
    font-weight: 300;
    font-size: 1.6rem;
    line-height: 30px;
    color: $gray100;
  }
}
@media (max-width: 590px) {
  .start--screen__title {
    font-size: 2rem;
  }
  .start--screen__subtitle {
    font-size: 1.1rem;
  }
}
@media (max-width: 425px) {
  .start--screen__content {
    margin-bottom: 0;
  }
}
