@import '../../style//app.scss';
.order-page {
  width: 100%;
  min-height: 100%;
  padding-left: 16px;
  @media (min-width: 1440px) {
    padding-left: 64px;
  }
  @media (min-width: 590px) {
    padding-left: 64px;
  }
  &__header {
    padding-left: 64px;
    padding-right: 64px;
  }
}
