@import '../../style//app.scss';
.nav {
  display: flex;
  gap: 38px;
  margin-top: -4px;
  padding: 9px 0 7px 64px;
  border-top: 1px solid $gray50;
  border-bottom: 1px solid $gray50;
  &__nav-link {
    display: inline-block;
    position: relative;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    color: $gray100;
    &:visited {
      color: $dark100;
    }
    &:focus,
    &:hover,
    &.active {
      color: $green;
    }
    &:not(:last-child)::after {
      content: '';
      position: absolute;
      display: inline-block;
      width: 6px;
      height: 8px;
      right: -23px;
      top: 3px;
      background: url(../../assets/icons/nav_arrow.svg) no-repeat;
    }
  }
}
