@import '../../style/app.scss';
.burger {
  position: relative;
  width: 30px;
  height: 20px;
  background: transparent;
  border: none;
  z-index: 3;
  cursor: pointer;
  &.open {
    position: absolute;
    align-self: flex-start;
    z-index: 3;
  }
}

.burger-line {
  position: absolute;
  width: 30px;
  height: 2px;
  left: 0;
  background: $white;
  @media (max-width: 590px) {
    stroke: $dark100;
    fill: $dark100;
    background: $dark100;
  }
  &:nth-child(1) {
    top: 0;
  }
  &:nth-child(4) {
    bottom: 0;
  }
  &:nth-child(2),
  &:nth-child(3) {
    top: 9px;
  }
  &.open:nth-child(1),
  &.open:nth-child(4) {
    display: none;
  }
  &.open:nth-child(2) {
    top: 50%;
    transform: rotate(45deg);
  }
  &.open:nth-child(3) {
    top: 50%;
    transform: rotate(-45deg);
  }
}
.burger-line.open {
  top: 0;
  position: absolute;
  width: 26px;
  height: 3px;
  background: $white;
  cursor: pointer;
  @media (max-width: 590px) {
    background: $white;
  }
}
