@import '../../style/app.scss';
.burger {
  position: relative;
  width: 30px;
  height: 20px;
  z-index: 3;
  cursor: pointer;
  &__open {
    position: relative;
    align-self: flex-start;
    z-index: 3;
  }
}

.burger-line {
  position: absolute;
  width: 30px;
  height: 2px;
  background: $white;
  @media (max-width: 590px) {
    stroke: $dark100;
    fill: $dark100;
    background: $dark100;
  }
  &:nth-child(1) {
    top: 0;
  }
  &:nth-child(4) {
    bottom: 0;
  }
  &:nth-child(2),
  &:nth-child(3) {
    top: 9px;
  }
  &__open:nth-child(1),
  &__open:nth-child(4) {
    display: none;
  }
  &__open:nth-child(2) {
    transform: rotate(45deg);
    transform-origin: center;
  }
  &__open:nth-child(3) {
    transform: rotate(-45deg);
    transform-origin: center;
  }
}
.burger-line__open {
  position: absolute;
  width: 30px;
  height: 2px;
  background: $white;
  cursor: pointer;
  @media (max-width: 590px) {
    background: $white;
  }
}
