@import '../../style//app.scss';
.icons-block {
  display: flex;
  gap: 24px;
  padding-top: 23px;
  @media (min-width: 590px) {
    padding-top: 15px;
  }
  &__link {
    width: 32px;
    height: 32px;
  }
}
.social-icon {
  fill: $white;
  transition: all ease-in-out 0.3s;
  &:hover {
    fill: $green;
  }
}
