@import '../../style/app.scss';
.language-btn {
  width: 48px;
  height: 48px;
  font-family: 'Roboto';
  font-weight: 500;
  font-size: 12px;
  line-height: 15px;
  color: $green;
  border: none;
  background: transparent;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  &:hover,
  &:focus-visible {
    color: $white;
    border: 1px solid $white;
    border-radius: 50%;
  }
  &:active {
    color: $green;
    border: 1px solid $white;
    border-radius: 50%;
  }
}
.btn_slider {
  position: absolute;
  width: 64px;
  height: 100%;
  border: none;
  background: transparent;
  z-index: 10;
  transition: all ease-in-out 0.3s;
  @media (max-width: 1439px) {
    width: 32px;
  }
  &.btn_slider__right {
    background: url(../../assets/icons/arrow_slider.svg) center no-repeat;
  }
  &.btn_slider__right:hover,
  &.btn_slider__right:focus {
    background: url(../../assets/icons/arrow_slider.svg) center no-repeat,
      $green20;
  }
  &.btn_slider__left {
    right: 0;
    background: url(../../assets/icons/arrow_slider.svg) center no-repeat;
    transform: rotate(180deg);
  }
  &.btn_slider__left:hover,
  &.btn_slider__left:focus {
    right: 0;
    background: url(../../assets/icons/arrow_slider.svg) center no-repeat,
      $green20;
    transform: rotate(180deg);
  }
}
.clear-input {
  position: absolute;
  right: 7px;
  top: 3px;
  width: 30px;
  height: 30px;
  border: none;
  background: url(../../assets/icons/clear_input.svg) center no-repeat;
  @media (min-width: 400px) {
    width: 11px;
    height: 11px;
  }
}

.btn-price {
  display: inline-block;
  width: 250px;
  padding: 14px 0 13px;
  text-align: center;
  font-size: 18px;
  line-height: 21px;
  font-family: 'Roboto';
  font-weight: 500;
  color: $white;
  background: $btngreen;
  background-blend-mode: darken;
  border: none;
  border-radius: 8px;
  &:hover,
  &:focus {
    background: $btngreen10;
  }
  &:active {
    background: $btnbright20;
  }
  @media (min-width: 1024px) {
    width: 287px;
  }
  &__disabled {
    background: $gray50;
    &:hover,
    &:focus {
      background: $gray50;
    }
  }
}
.radio {
  display: flex;
  gap: 8px;
  &__input {
    position: absolute;
    width: 1px;
    height: 1px;
    overflow: hidden;
    clip: rect(0 0 0 0);
  }
  &__box {
    position: absolute;
    margin-top: 2px;
    margin-left: -19px;
    width: 12px;
    height: 12px;
    overflow: hidden;
    border: 1px solid $gray100;
    border-radius: 50%;
    background-color: white;
    background-repeat: no-repeat;
    background-position: 50% 50%;
  }
  &__input:checked + .radio__box {
    border: 3px solid $green;
  }
  &__input:disabled + .radio__box {
    border: 3px solid $gray50;
  }
}
