@import '../../style/app.scss';
.dots {
  position: absolute;
  display: flex;
  bottom: 36px;
  left: 50%;
  transform: translateX(-50%);
  z-index: 10;
}
.dot {
  width: 8px;
  height: 8px;
  margin: 0 5px;
  border-radius: 50%;
  background: #f1f1f1;
  cursor: pointer;
  &.dot_active {
    background: $green;
  }
}
