@import '../../style//app.scss';
.address {
  display: flex;
  flex-direction: column;
  gap: 20px;
  max-width: 320px;
  align-items: flex-start;
  margin-bottom: 47px;
  @media (min-width: 400px) {
    gap: 15px;
    align-items: flex-end;
  }
}
