@import '../../style//app.scss';
.body {
  display: flex;
  justify-content: space-between;
  min-height: 100%;
  width: 100%;
}
.main {
  display: flex;
}
@media (max-width: 1000px) {
  .main {
    width: 100%;
  }
}
@media (min-width: 1440px) {
  .main {
    width: 50%;
  }
}
