@import '../../style/app.scss';
.logo {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  font-size: 30px;
  line-height: 35px;
  color: $green;
  flex-direction: column;
  align-items: flex-end;
  gap: 0.6em;
  cursor: pointer;
}
.header {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  gap: 0.6em;
  padding: 16px 16px 0 0;
}
@media (min-width: 590px) {
  .header {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 32px 32px 0 0;
    margin-bottom: 167px;
  }
}

@media (min-width: 1440px) {
  .header {
    padding: 32px 64px 0 0;
  }
}
