@import './app.scss';
.nav {
  width: 100%;
  border-top: 1px solid $gray50;
  border-bottom: 1px solid $gray50;
  &__inner {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 25px;
    margin-top: -4px;
    padding: 9px 0 7px 16px;

    @media (min-width: 500px) {
      flex-direction: row;
      gap: 20px;
    }
    @media (min-width: 768px) {
      gap: 38px;
      padding: 9px 0 7px 100px;
    }
    @media (min-width: 1024px) {
      padding: 9px 0 7px 96px;
    }
    @media (min-width: 1440px) {
      padding: 9px 0 7px 128px;
      max-width: 1440px;
      margin: 0 auto;
    }
  }
}

.nav-link {
  display: inline-block;
  position: relative;
  font-family: 'Roboto';
  font-weight: 500;
  font-size: 18px;
  line-height: 16px;
  color: $gray100;
  background: $white;
  border: none;
  @media (min-width: 768px) {
    font-size: 14px;
    line-height: 16px;
    &:not(:last-child)::after {
      content: '';
      position: absolute;
      display: inline-block;
      width: 6px;
      height: 8px;
      right: -23px;
      top: 3px;
      background: url(../assets/icons/nav_arrow.svg) no-repeat;
    }
  }
  &__disabled {
    color: $dark100;
  }

  &:focus,
  &:hover,
  &__active {
    color: $green;
  }
}
