@import '../../style//app.scss';
.options {
  display: flex;
  flex-direction: column;
  gap: 32px;
  &__radio-block {
    display: flex;
    flex-wrap: wrap;
    gap: 37px;
    padding-left: 19px;
  }
  &__inner {
    display: flex;
    flex-direction: column;
    gap: 16px;
  }
  &__inner-buttons {
    padding-left: 19px;
    gap: 8px;
  }
  &__inner-data {
    width: 250px;
  }
}
.input-text {
  position: relative;
  width: 224px;
  font-family: 'Roboto';
  font-weight: 300;
  font-size: 16px;
  line-height: 16px;
  border: none;
  padding: 0 0 0px 8px;
  border-bottom: 1px solid $gray100;
  @media (min-width: 768px) {
    font-size: 14px;
    line-height: 16px;
  }
  &__inner {
    display: flex;
    position: relative;
    align-self: flex-end;
    gap: 15px;
    font-weight: 300;
    font-size: 14px;
    line-height: 16px;
    @media (min-width: 400px) {
      flex-direction: row;
      gap: 9px;
    }
  }
}
